* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  transition: all 0.2s linear;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: #F3F6FF;
  font-family: "Poppins", sans-serif;
}

*::selection {
  background: #F47983;
  color: #fff;
}

section {
  min-height: 100vh;
}

/* Header */
.header {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  transition: top 0.5s ease-in-out;
  width: 100%;
}

.header.fixed {
  position: fixed;
  top: 0;
  z-index: 1000;
}

.logo img {
  width: 150px;
}

.icons-btn i {
  color: #F47983;
  cursor: pointer;
  font-size: 1.2em;
}

/* Navbar */
.navbar {
  background-color: #8CBFAB;
}

.navbar ul {
  font-weight: bold;
  text-transform: uppercase;
}

/* Carrossel */
.carousel-indicators button.active {
  background-color: #dc6866e6;
}

.btn-carousel {
  background-color: #ff90ae;
  border-radius: 10px;
  box-shadow: 3px 3px 3px gray;
  color: #fff;
  text-decoration: none;
  padding: 20px 50px;
}

.btn-carousel:hover {
  background-color: #ff90aee7;
}

.carousel-control-prev i,
.carousel-control-next i {
  background-color: #dc6766;
  border-radius: 50%;
  padding: 1.5em;
}

/* Sobre */
/* #C8A696 */
.about {
  width: 80%;
}

.content-about {
  border-radius: 5%;
  color: #212529;
  display: flex;
  flex-direction: column;
  height: 80%;
}

/* .content-about:hover {
  background-color: #c8a696ad !important;
} */

.content-about p {
  text-align: justify;
}

.content-about span {
  color: #C8A696;
}

.content-about a {
  align-self: center;
  animation: moveDown 1.2s infinite alternate;
  color: #8CBFAB;
  font-size: 3em;
}

@keyframes moveDown {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(15px);
  }
}

/* Produtos populares */
.popular-products {
  width: 80%;
}

.content-popular-products {
  text-align: justify;
}

/* Footer */
.footer {
  background-color: #e0dfdf;
  flex-direction: column;
}
