* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  transition: all 0.2s linear;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: #f7f7f7;
  font-family: "Poppins", sans-serif;
}

*::selection {
  background: #dc6766;
  color: #fff;
}

section {
  min-height: 100vh;
}

/* Header */
.logo img {
  width: 150px;
}

.icons-btn i {
  color: #dc6766;
  cursor: pointer;
  font-size: 1.2em;
}

/* Navbar */
.navbar {
  background-color: #8CBFAB;
}

.navbar ul {
  font-weight: bold;
  text-transform: uppercase;
}

/* Carrossel */
.carousel-control-prev i,
.carousel-control-next i {
  background-color: #dc6766;
  border-radius: 50%;
  padding: 1.5em;
}

/* Sobre */
.about {
  width: 80%;
}

.content-about p {
  text-align: justify;
}

/* Produtos populares */
.popular-products {
  width: 80%;
}

.content-popular-products {
  text-align: justify;
}

/* Footer */
.footer {
  background-color: #e0dfdf;
  flex-direction: column;
}
