/* Estilos gerais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  transition: all 0.2s linear;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: #F3F6FF;
  font-family: "Poppins", sans-serif;
}

*::selection {
  background: #F47983;
  color: #fff;
}

/* ---------------------------------------------------------- */


/* Estilos do Header da página */
.header {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  transition: top 0.5s ease-in-out;
  width: 100%;
}

.header.fixed {
  position: fixed;
  top: 0;
  z-index: 1000;
}

.logo img {
  width: 150px;
}

.icons-btn i {
  /* color: #F47983; */
  color: #212529;
  cursor: pointer;
  font-size: 1.2em;
}

/* Estilos do Navbar */
.navbar {
  /* background-color: #8CBFAB; */
  background-color: #212529;
}

.navbar ul {
  font-weight: bold;
  text-transform: uppercase;
}

/* ---------------------------------------------------------- */


/* Estilos da página inicial | Home */
.sec {
  min-height: 100vh;
}

/* Estilos do Carrossel */
.carousel-indicators button.active {
  background-color: #dc6866e6;
}

.btn-carousel {
  background-color: #ff90ae;
  border-radius: 10px;
  box-shadow: 3px 3px 3px gray;
  color: #fff;
  text-decoration: none;
  padding: 20px 50px;
}

.btn-carousel:hover {
  background-color: #ff90aee7;
  padding: 21px 51px;
}

.carousel-control-prev i,
.carousel-control-next i {
  background-color: #dc6766;
  border-radius: 50%;
  padding: 1.5em;
}

/* ----------------------------------------------------------- */


/* Estilos do Sobre */
.about {
  width: 80%;
}

.content-about {
  border-radius: 5%;
  color: #212529;
  display: flex;
  flex-direction: column;
  height: 80%;
}

/* .content-about:hover {
  background-color: #c8a696ad !important;
} */

.content-about p {
  text-align: justify;
}

.content-about span {
  color: #ff90ae;
}

.content-about a {
  align-self: center;
  animation: moveDown 1.2s infinite alternate;
  /* color: #8CBFAB; */
  color: #212529;
  font-size: 3em;
}

@keyframes moveDown {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(15px);
  }
}

/* ----------------------------------------------------------------- */

/* Estilos da seção de Produtos populares */
.popular-products {
  width: 80%;
}

.content-popular-products {
  border-radius: 5%;
  color: #212529;
  text-align: justify;
  height: 65%;
}

.content-popular-products h2 span {
  color: #ff90ae;
}

.popular-products-title h2 span {
  color: #ff90ae;
}

.popular-products-title img {
  border-radius: 5%;
}

.btn-menu a {
  background-color: #ff90ae;
  border-radius: 10px;
  box-shadow: 3px 3px 3px gray;
  color: #fff;
  text-decoration: none;
  padding: 20px 50px;
}

.btn-menu a:hover {
  background-color: #ff90aee7;
  padding: 21px 51px;
}

/* ------------------------------------------------------------------- */

/* Estilos do Rodapé */
.footer {
  background-color: #e0dfdf;
  flex-direction: column;
}

.column-1,
.column-2,
.column-3 {
  display: flex;
  flex-direction: column;
}

.column-1 a,
.column-2 a {
  color: #212529;
  text-decoration: none;
}

.column-3 {
  align-items: center;
}

.column-1 h6,
.column-2 h6,
.column-3 h6 {
  color: #F47983;
  text-transform: uppercase;
}

.column-1 a,
.column-2 a,
.column-3 a {
  color: #596572;
  font-size: 0.8rem;
  text-decoration: none;
}

.column-1 a:hover,
.column-2 a:hover,
.column-3 a:hover {
  color: #72869b;
}

.quick-links {
  background-color: #ffe5deed;
}

.column-4 p {
  color: #596572;
  font-size: 0.8rem;
  margin-bottom: 0;
}

.c-address {
  display: flex;
  align-items: center;
}

.column-4 i {
  color: #F47983;
  font-size: 1rem;
  margin-right: 15px;
}

.social-media {
  background-color: #f4c4b8;
}

.rights-reserved p {
  color: #72869b;
  font-size: 15px;
  font-weight: bold;
}

.social-icon a {
  color: #fff;
  font-size: 1.6em;
  margin-left: 0.8em;
  text-decoration: none;
}

/* -------------------------------------------------------------------- */


/* Estilos do Botão voltar ao topo */
#scroll-top {
  background: #ff90ae;
  border-radius: 50%;
  color: #fff;
  font-size: 2rem;
  padding: 1rem 1.1rem;
  position: fixed;
  right: 2rem;
  text-decoration: none;
  top: -140%;
  transition: 1s linear;
  z-index: 1000;
}

/*Quando o botão está ativo, ele desce */
#scroll-top.active {
  top: calc(100% - 20rem);
}

/* ------------------------------------------------------------------------- */
