/* Estilos gerais */
* {
  color: #333333;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  transition: all 0.2s linear;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: #F3F6FF;
  font-family: "Poppins", sans-serif;
}

*::selection {
  background: #F47983;
  color: #fff;
}

/* ---------------------------------------------------------- */


/* Estilos do Header da página */
.header {
  box-shadow: 0 2px 5px #0000001a;
  position: relative;
  transition: top 0.5s ease-in-out;
  width: 100%;
}

.header.fixed {
  position: fixed;
  top: 0;
  z-index: 1000;
}

.logo img {
  width: 150px;
}

.icons-btn i {
  color: #333333;
  cursor: pointer;
  font-size: 1.2em;
}

.icons-btn i:hover {
  color: #ff90ae;
  font-size: 1.1em;
}

/* Estilos do Navbar */
.navbar {
  background-color: #333333;
}

.navbar ul {
  font-weight: bold;
  text-transform: uppercase;
}

/* ---------------------------------------------------------- */

/* Estilos do Carrinho de compras */
.shopping-cart {
  display: none;
  position: fixed;
  z-index: 1;
  right: 10px;
  top: 10px;
  width: 600px;
  height: 900px;
  background-color: #F7F7F7;
  border-radius: 10px;
}

.shopping-cart-content {
  padding: 2em;
}

.close {
  background-color: #ece7e7;
  border-radius: 50%;
  font-size: 30px;
  font-weight: bold;
  padding: 0.1rem 0.5rem;
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
}

.close:hover {
  background-color: #ff90ae;
  color: #fff;
  padding: 0.2rem 0.6rem;
}

/* ----------------------------------------------------------- */

/* Estilos da página inicial | Home */
.sec {
  min-height: 100vh;
}

/* Estilos do Carrossel */
.carousel-indicators button.active {
  background-color: #dc6866e6;
}

.btn-carousel {
  background-color: #ff90ae;
  border-radius: 10px;
  box-shadow: 3px 3px 3px #666666;
  color: #fff;
  text-decoration: none;
  padding: 20px 50px;
}

.btn-carousel:hover {
  background-color: #ff90aee7;
  padding: 21px 51px;
}

.carousel-control-prev i,
.carousel-control-next i {
  background-color: #dc6766;
  border-radius: 50%;
  padding: 1.5em;
}

/* ----------------------------------------------------------- */


/* Estilos do Sobre */
.about {
  width: 80%;
}

.content-about {
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  height: 80%;
}

.content-about p {
  text-align: justify;
}

.content-about span {
  color: #ff90ae;
}

.content-about a {
  align-self: center;
  animation: moveDown 1.2s infinite alternate;
  font-size: 3em;
}

@keyframes moveDown {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(15px);
  }
}

/* ----------------------------------------------------------------- */

/* Estilos da seção de Produtos populares */
.popular-products {
  width: 80%;
}

.content-popular-products {
  border-radius: 5%;
  text-align: justify;
  height: 65%;
}

.content-popular-products h2 span {
  color: #ff90ae;
}

.popular-products-title h2 span {
  color: #ff90ae;
}

.popular-products-title img {
  border-radius: 5%;
}

.btn-menu a {
  background-color: #ff90ae;
  border-radius: 10px;
  box-shadow: 3px 3px 3px #808080;
  color: #fff;
  text-decoration: none;
  padding: 20px 50px;
}

.btn-menu a:hover {
  background-color: #ff90aee7;
  padding: 21px 51px;
}

/* ------------------------------------------------------------------- */

/* Estilos do Rodapé */
.footer {
  background-color: #e0dfdf;
  flex-direction: column;
}

.column-1,
.column-2,
.column-3 {
  display: flex;
  flex-direction: column;
}

.column-1 a,
.column-2 a {
  text-decoration: none;
}

.column-3 {
  align-items: center;
}

.column-1 h6,
.column-2 h6,
.column-3 h6 {
  /* color: #F47983; */
  text-transform: uppercase;
}

.column-1 a,
.column-2 a,
.column-3 a {
  color: #596572;
  font-size: 0.8rem;
  text-decoration: none;
}

.column-1 a:hover,
.column-2 a:hover,
.column-3 a:hover {
  color: #72869b;
}

.quick-links {
  background-color: #ffe5deed;
}

.column-4 p {
  color: #596572;
  font-size: 0.8rem;
  margin-bottom: 0;
}

.c-address {
  display: flex;
  align-items: center;
}

.column-4 i {
  color: #F47983;
  font-size: 1rem;
  margin-right: 15px;
}

.social-media {
  background-color: #f4c4b8;
}

.rights-reserved p {
  color: #666666;
  font-size: 15px;
  font-weight: bold;
}

.social-icon a {
  color: #fff;
  font-size: 1.6em;
  margin-left: 0.8em;
  text-decoration: none;
}

/* -------------------------------------------------------------------- */


/* Estilos do Botão voltar ao topo */
#scroll-top {
  background: #ff90ae;
  border-radius: 50%;
  color: #fff;
  font-size: 2rem;
  padding: 1rem 1.1rem;
  position: fixed;
  right: 2rem;
  text-decoration: none;
  top: -140%;
  transition: 1s linear;
  z-index: 1000;
}

/*Quando o botão está ativo, ele desce */
#scroll-top.active {
  top: calc(100% - 20rem);
}

/* ------------------------------------------------------------------------- */

/* Estilos da página de checkout */
.body-checkout {
  background-color: #F7F7F7;
}

.main-checkout {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  width: 90%;
}

.main-checkout h2,
h3,
h4,
h5,
h6 {
  font-weight: 600 !important;
  text-transform: uppercase;
}

.container-checkout span {
  color: #ff90ae;
}

.container-checkout {
  margin: 1em;
  padding: 2em;
}

.title-checkout {
  display: flex;
  margin-bottom: 2em;
}

.title-checkout a i {
  color: #333333;
  font-size: 25px;
  margin-right: 0.5em;
}

#title-checkout {
  font-size: 23px;
  margin: 0;
}

.container-checkout h2 {
  font-size: 35px;
}

.container-checkout h5,
h6 {
  font-size: 25px;
}

.container-checkout h6 {
  margin-top: 2em;
}

.container-checkout p {
  font-size: 20px;
}

.payment-method,
.delivery-address {
  align-items: center;
  display: flex;
  margin-top: 2em;
  margin-bottom: 1em;
}

.add-payment i,
.add-address i {
  color: #333333;
  border: 1px solid gray;
  border-radius: 50%;
  padding: 10px;
}

.payment-method h2,
.delivery-address h2 {
  margin: 0px 20px;
}

.delivery-address button,
.payment-method button {
  background-color: transparent;
}

.delivery-address i:hover,
.payment-method i:hover {
  background-color: #ff90ae;
  color: #fff;
}

.container-summary {
  display: flex;
  flex-direction: column;
  margin: 1em;
  padding: 2em;
}

.summary {
  border: 2px solid #333333;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 5em;
  justify-content: space-between;
  padding: 1.5em;
  height: 633px;
  width: 541px;
}

.container-summary h3 span {
  color: #ff90ae;
}

.container-summary h3 {
  font-size: 30px;
}

.container-summary ul {
  list-style: none;
  padding: 0;
}

.container-btn-checkout {
  display: flex;
  justify-content: center;
}

.container-btn-checkout button {
  background-color: #ff90ae;
  border-radius: 10px;
  box-shadow: 3px 3px 3px #808080;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  height: 55px;
  width: 255px;
}

.container-btn-checkout button:hover {
  background-color: #f9a3ba;
}

.products li {
  display: flex;
  justify-content: space-between;
}

.total,
.products {
  margin: 1.5em 0em;
}

.total li {
  display: flex;
  justify-content: space-between;
}

.t-color span {
  color: #5e5a5a;
}

.container-back-btn {
  display: flex;
  justify-content: center;
  margin: 2em;
}

.container-back-btn a {
  background-color: #f9a3ba;
  border-radius: 10px;
  box-shadow: 3px 3px 3px #808080;
  padding: 12px 80px;
  text-decoration: none;
}

.container-back-btn a:hover {
  background-color: #fbb2c5;
}

.container-back-btn a span,
i {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

/* ------------------------------------------------------------------------------------- */
